*.iml
.gradle
/local.properties
/.idea
/.DS_Store
/build
*/build/
/captures
.externalNativeBuild
.cxx
/.gradle-dist
/.gradle-user-home
/.android-user
/.android-tools
/.jdk
/build-output.log
/build-error.log
